
<div class="container">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this book from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with model:@user, local:true do |f| %>
      <label for="inputName">Name</label><br>
      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name",class: "form-control"%><br>

      <%= attachment_image_tag @user, :profile_image, size:"60x60", fallback: "no_image.jpg"%><br>
      <label for="inputImage">ProfileImage</label><br>
      <%= f.attachment_field :profile_image, placeholder: "ProfileImage" %><br>

      <label for="inputIntroduction">Name</label><br>
      <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction",class: "form-control"%><br>

      <%= f.submit "Update User",class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
