
<main>
  <div class="container">
    <% if @newbook.errors.any? %>
      <div class="bg-danger p-1" id="error_explanation">
        <h2><%= pluralize(@newbook.errors.count, "error") %> prohibited this book from being saved:</h2>
        <ul>
          <% @newbook.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-3" >
        <%= render 'books/user', user: @user,newbook: @newbook %>
      </div>

      <div class = "col-md-8 offset-md-1">
        <h2>Books</h2>

        <span>
          <%= link_to '新しい順', books_path(sort_update: "A") %>|
          <%= link_to '評価の高い順', books_path(sort_update: "B") %>
        </span>

        <table class="table table-striped">
          <thead>
            <tr></tr>
            <tr>
              <th></th>
              <th>Title</th>
              <th>opinion</th>
              <th>category</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @books.each do |book| %>
            <tr>
              <td class="align-middle">
                <%= link_to user_path(book.user.id) do %>
                  <%= attachment_image_tag book.user, :profile_image, size:"60x60", fallback: "no_image.jpg" %>
                <% end %>
              </td>
              <td class="align-middle"><%=link_to book.title,book_path(book.id) %></td>
              <td class="align-middle"><%= book.body %></td>
              <td class="align-middle">
                <% if book.category != nil %>
                  <%= link_to book.category, book_category_path(book.id) %>
                <%end%>
              </td>
              <td class="align-middle favorite-btn-<%=book.id%>">
                <span class="text-center">
                  <!--いいね機能-->
                  <%= render 'favorites/favorite-btn', book: book %>
                </span>
              </td>
              <td class="align-middle">
                コメント数:<%=book.post_comments.count%>
              </td>
               <!--五段階評価-->
              <td class="align-middle td-s">

                <div class="relative-post-evaluation">
                <div id="star-rate<%= book.id%>"></div>
                  <script>
                  $('#star-rate-<%= book.id %>').empty();
                    $('#star-rate<%= book.id%>').raty({
                      size      : 36,
                      starOff   : '<%= asset_path('star-off.png') %>',
                      starOn    : '<%= asset_path('star-on.png') %>',
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half      : true,
                      readOnly: true,
                      score: <%= book.evaluation %>,
                    });
                  </script>
              </div>
              </td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</main>







